h1{
    width: 60%;
    margin: 5% auto;
    color: white;
}


body{
    background: black;
    background-size: 100% 100%
}


main{
    width: 50%;
    margin: 5% auto;
    background: grey;
}

article{
    margin: 5% auto;
    border: 2px solid grey;
    width: 60%;
}

article > h3{
    font-size: 1em;
}

article:hover{
    background: grey;
}