header > a{
    margin: 2px;
    padding: 3px;
    font: italic;
    font-size: 25px;
}

nav > a {
    font-size: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header   header  header"
    "body     body    body"
    "footer   footer  footer";
    max-width: 640px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px;

}

footer{
    margin: 2px;
    padding: 3px;
}

iframe{
    width: 560px;
}

@media only screen and (max-width : 411px){
    iframe{
        width: 350px;
        padding-left: 25px;
    }

    nav > a {
        padding-left: 25px;
    }

    header > a {
        padding-left: 25px;
        white-space: nowrap;
    }
}

@media only screen and (max-width : 375px){
    iframe{
        width: 320px;
        height: 250px;
        padding-left: 25px;
    }

    nav > a {
        padding-left: 25px;
    }

    header > a {
        padding-left: 25px;
        white-space: nowrap;
    }
}

@media only screen and (max-width : 360px){
    iframe{
        width: 300px;
        padding-left: 25px;
    }

    nav > a {
        padding-left: 25px;
    }

    header > a {
        padding-left: 25px;
        white-space: nowrap;
    }
}

@media only screen and (max-width : 320px){
    iframe{
        width: 260px;
        height: 200px;
        padding-left: 25px;
    }

    nav > a {
        padding-left: 25px;
    }

    header > a {
        padding-left: 25px;
        white-space: nowrap;
    }
}