article{
    display: grid;
    grid-template-columns: 50% 100%;
    margin: solid blueviolet;
    border-bottom: 2px solid blueviolet;
}

a{
    font-size: 50px;
    color: blueviolet;
}

b{
    font-size: 20px;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



div > h1{
    font-size: 20px;
    color: blueviolet;
}